:root{
    font-size: 13px;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(../images/fullpage-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.weather-container{
    /* background-image: url(../images/background-day.png); */
    background-image: url('https://img.freepik.com/free-photo/beautiful-night-sky-with-shiny-stars_53876-138570.jpg?w=1060&t=st=1718736763~exp=1718737363~hmac=87286b28cae139d00c0e34732fcde36b1499723465ece4b0b7dcf0a0d62e1ba9');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #1e2234; */
    width: 100%;
    top: 0px;
}

#area{
    word-wrap: break-word;
}

button{
    background-color: #E0E3FF !important;
}

button:hover{
    background-color: #fff !important;
    color: #000 !important;
}

input{
    background-color: #273161 !important;
}

.separator{
    width: 2px;
    height: 25px;
}

.current-weather{
    font-weight: 300;
    font-size: 7.25rem;
}

.today-icon{
    width: 100px;
}

.weather-card{
    background-color: #30326353;
}

input::placeholder{
    color: #ffffff65 !important;
}

.weather-card img{
    width: 70px;
}

#cBtn:hover,
#fBtn:hover{
    color: #fff !important;
}

#cBtn, #fBtn{
    cursor: pointer;
    color: #ffffff77;
}